@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700&family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Bricolage Grotesque', sans-serif;
  line-height: 1.5;

  color: #161a19;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  /* min-height: 100rem; */
}

body {
  margin: 0;
  
  padding: 2rem;
}

header {
  text-align: center;
}

header h1 {
  margin: 1;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
header h2 {
    margin: 0;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;

    position: fixed;
    top: 0;
    width: 100%;
    color: #181616;
    padding: 3% 0;
    text-align: center;
    text-align: left;
    margin-left: 140px;

  }
header p {
  margin: 0 auto;
  font-size: 1.15rem;
  max-width: 60ch;
  
}
.login-button {
    width: 10%;
    background-color: #606969;
    color: white;
    border: none;
    transition: background-color 0.3s, box-shadow 0.3s; /* Add a smooth transition effect */
  
    /* Hover effect */
    &:hover {
      background-color: rgb(11, 11, 27);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow on hover */
    }

}
.input-field {
    width: 20%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
  }
.places-category {
  max-width: 105rem;
  margin: 2rem auto;
  padding: 1rem;
  border: 2px solid #4fa5b4;
  border-radius: 8px;
}

/* CSS for the register-container */
.register-container {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.register-container h2 {
  color: #333333;
}

/* Add additional styles as needed for specific elements inside the register-container */
.register-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.register-form label {
  margin-bottom: 5px;
}

.register-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.register-form button {
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #45a049;
}


#core-concepts {
    width: 60%;
    padding: 2rem;
    border-radius: 10px;
    background-color: #afa9b4;
    box-shadow: 0 2px 8px rgba(206, 202, 202, 0.4);
  
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

.places-category h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  color: #8feeff;
  text-align: center;
}

.fallback-text {
  text-align: center;
}

.places {
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2rem;
  margin: 2rem auto;
  padding: 0;
  list-style: none;
}


.place-item:nth-child(odd) button:hover,
.place-item:nth-child(odd) button:focus {
  box-shadow: 0 0 8px 4px rgba(255, 217, 0, 0.6);
  border-radius: 8px;
  transform: rotate(5deg);
}

.place-item:nth-child(even) button:hover,
.place-item:nth-child(even) button:focus {
  box-shadow: 0 0 8px 4px rgba(255, 217, 0, 0.6);
  border-radius: 8px;
  transform: rotate(-5deg);
}

.place-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}


#delete-confirmation {
  padding: 1rem;
}

#delete-confirmation h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: #5d0909;
}

#delete-confirmation p {
  margin: 0 auto;
  font-size: 1.15rem;
  max-width: 38ch;
  color: #804242;
}

#confirmation-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.button {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #5d0909;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  color: #fff;
}

#user-input {

  width: 200px;
  height: 150px;
  background-color: #f0f0f0;
  border: 2px solid #333;
  padding: 10px;
  margin: 20px;

  }
  .input-group {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
  }

.error {
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #f4c7c7;
  color: #3e0505;
}

.repo-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #0f0f0f;
  border-radius: 18px;
  box-shadow: 0 6px 8px rgba(2, 0, 0, 0.1);
  background-color: #c4b1b1;

  
}

.repo-button {
  background-color: #00ff22;
  color: rgba(184, 23, 23, 0.561);
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.repo-button:hover {
  background-color: #17191b;
}

#show-commit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 38, 23, 0.95);
  animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
